{% extends 'base.html' %}
{% block title%}DONATE{% endblock %}
{% block content %}
                                            <!--Starting of Content or Body part-->

            <div id="subpage-header-back" class="card rounded-0 text-white mb-3">
              <div class="card-header text-center text-justify my-3">
                <h5 class="h2 font-weight-bold">DONATE US</h5>
                <div class="row">
                  <div class="col-4"></div>
                  <div class="col-4 text-center">
                      
                      <div class="bc-icons">
                            <ul class="cus-breadcrumb bg-transparent ">
                                <li class="breadcrumb-item h6"><a class="text-blue " href="#">Home</a><i class="fas fa-caret-right mx-2"
                                    aria-hidden="true"></i></li>
                                <li class="breadcrumb-item active h6"><a class="text-white " href="#">Donate Us</a></li>
                            </ul>
                      </div> 
                  </div> 

                  <div class="col-4"></div>
                </div>  
              </div>
            </div>

            <!--Important Notice-->

            <div class="card bg-danger rounded-0 mt-0">
                <div class="card-header">
                  <marquee><h4 class="font-weight-bold text-white my-sm-auto my-md-3">This Site is Under Contruction.To know more about us or for any queries please visit the ContactUs page or scroll down.</h4></marquee>
                </div>
              </div>

              <!--MAIN CONTENT OF BODY-->
              <div class="card text-center rounded-0 my-md-3">
                <div class="card-body">
                  <p class="card-text font-weight-bold h4 text-dark mb-3">DONATION DETAILS</p>
                  <h5 class="card-text font-weight-bold h5 text-dark">Central Bank of India</h5>
                  <h5 class="card-text h5 text-dark">Branch Address: <span class="card-text font-weight-bold h5 text-dark" >Garali, Jorhat, Assam</span> </h5>
                  <h5  class="card-text h5 text-dark">P.O:<span class="card-text font-weight-bold h5 text-dark">Jorhat</span></h5>
                  <h5 class="card-text h5 text-dark">Pin:<span class="card-text font-weight-bold h5 text-dark">785001</span></h5>
                  <h5 class="card-text h5 text-dark">Account No: <span class="card-text font-weight-bold h5 text-dark">3517026873 </span> </h5>
                  <h5 class="card-text h5 text-dark">IFSC Code: <span class="card-text font-weight-bold h5 text-dark"> CB1N0283212</span></h5>
                  <h5 class="card-text h5 text-dark">MICR No: <span class="card-text font-weight-bold h5 text-dark"> 785016003</span></h5>
                </div>
              </div>


   
            


    {% endblock %}