{% extends 'base.html' %}
{% block title%}OUR WORKS{% endblock %}
{% block content %}
                                            <!--Starting of Content or Body part-->

            <div id="subpage-header-back" class="card rounded-0 text-white mb-3">
              <div class="card-header text-center text-justify my-3">
                <h5 class="h2 font-weight-bold">OUR WORKS</h5>
                <div class="row">
                  <div class="col-4"></div>
                  <div class="col-4 text-center">
                      
                      <div class="bc-icons">
                            <ul class="cus-breadcrumb bg-transparent">
                                <li class="breadcrumb-item h6"><a class="text-blue " href="#">Home</a><i class="fas fa-caret-right mx-2"
                                    aria-hidden="true"></i></li>
                                <li class="breadcrumb-item active h6"><a class="text-white " href="#">Our Works</a></li>
                            </ul>
                      </div> 
                  </div> 

                  <div class="col-4"></div>
                </div>  
              </div>
            </div>


                  <!--DONATION BUTTON SIDEBAR-->
		      <div id="mySideNav" class="sidenav">
		        <a href="donate.html" id="donate">Donate Now</a>
		      </div>

            <!--Important Notice-->

            <div class="card bg-danger rounded-0 mt-0">
                <div class="card-header">
                  <marquee><h4 class="font-weight-bold text-white my-sm-auto my-md-3">This Site is Under Contruction.To know more about us or for any queries please visit the ContactUs page or scroll down.</h4></marquee>
                </div>
              </div>

              
          <!--MAIN CONTENT OF BODY-->







      

            {% endblock %}

